{% extends "base.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--SERVICES SECTION -->

        <div id="circle-book" class="container-fluid">
            <div class="circle_container col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                <img class="transparent_square" src="static/img/circle/krem.png" />
                    <div class="central_text text-center">
                        <h3 id="item_title">Default title</h3>
                            <h5 id="item_description">Default descriptio</h5>
                    </div>
    
                    <div class="moon_container moon1"><img class="moon moon1" alt="item1" src="static/img/circle/all.png"></div>
                    <div class="moon_container moon2"><img class="moon moon2" alt="item2" src="static/img/circle/cover.png"></div>
                    <div class="moon_container moon3"><img class="moon moon3" alt="item3" src="static/img/circle/diy.png"></div>
                    <div class="moon_container moon4"><img class="moon moon4" alt="item4" src="static/img/circle/home.png"></div>
                    <div class="moon_container moon5"><img class="moon moon5" alt="item5" src="static/img/circle/marketing.png"></div>
                    <div class="moon_container moon6"><img class="moon moon6" alt="item6" src="static/img/circle/other.png"></div>
                    <div class="moon_container moon7"><img class="moon moon7" alt="item7" src="static/img/circle/special.png"></div>
                    <div class="moon_container moon8"><img class="moon moon8" alt="item8" src="static/img/circle/vip.png"></div>
            </div><!-- end of circle_container -->
        </div><!-- end containerfluid -->


        <!--END SERVICES SECTION -->

<!--===========================================
  === Pricing Table Section ===========================================================-->

<div class="container" id="pricing_table">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="text-center">SMALL TEAM</h3>
                    <p class="text-center">MAX TEAM SIZE 25</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>$20/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="text-center">MEDIUM TEAM</h3>
                    <p class="text-center">MAX TEAM SIZE 50</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>$40/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="text-center">LARGE TEAM</h3>
                    <p class="text-center">MAX TEAM SIZE 100</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>$60/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="text-center">HUGE TEAM</h3>
                    <p class="text-center">MAX TEAM SIZE 300</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>$100/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
            </div>
        </div>
    </div>
</div>


<!--== end section ===================================================-->
  <!--=================================================
  == Tangerine Section ===========================================================-->
<div class="container" id="about">
  <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              About Us!
            </a>
            <div class="collapse" id="collapseExample">
              <div class="panel panel-default">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              <button class="btn btn-default hidden-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Close it!
              </button>
            </div>
            </div>
          </div>
        </div><!-- /.col-md-6 col-md-offset -->

<!-- Three columns of text below the carousel -->
      <div class="row" id="market">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Our Team!</h2>
          <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExampleOne" aria-expanded="false" aria-controls="collapseExampleOne">
            Founder and CEO!
          </a>
          <div class="collapse" id="collapseExampleOne">
            <div class="panel panel-default">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              <button class="btn btn-default hidden-lg" type="button" data-toggle="collapse" data-target="#collapseExampleOne" aria-expanded="false" aria-controls="collapseExampleOne">
                Close it!
              </button>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Our Team!</h2>
          <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExampleTwo" aria-expanded="false" aria-controls="collapseExampleTwo">
            Lead Writer!
          </a>
          <div class="collapse" id="collapseExampleTwo">
            <div class="panel panel-default">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              <button class="btn btn-default hidden-lg" type="button" data-toggle="collapse" data-target="#collapseExampleTwo" aria-expanded="false" aria-controls="collapseExampleTwo">
                Close it!
              </button>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Our Team!</h2>
          <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExampleThree" aria-expanded="false" aria-controls="collapseExampleThree">
            Engineer and Designer!
          </a>
          <div class="collapse" id="collapseExampleThree">
            <div class="panel panel-default">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              <button class="btn btn-default hidden-lg" type="button" data-toggle="collapse" data-target="#collapseExampleThree" aria-expanded="false" aria-controls="collapseExampleThree">
                Close it!
              </button>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
  </div>
</div><!--== end section ======================================================-->
{% endblock %}
